$font__body: "Lora", serif;
$font__heading: "Heebo", sans-serif;
$font__figcaption: $font__heading;

$white: #fff;
$black: #242424;
$gray: #535353;
$dark-gray: #6d6c6c;
$twitter: #1a8bf0;
$facebook: #3b5998;
$linkedin: #0084bf;

$color__text-heading: $black;
$color__text-main: $black;

$font__size_base: 19px;
$font__size-ratio: 1.1;

$font__size-xxs: 1em / (1.5 * $font__size-ratio);
$font__size-xs: 1em / (1.2 * $font__size-ratio);
$font__size-sm: 1em / (1 * $font__size-ratio);
$font__size-md: 1em * (1.25 * $font__size-ratio);
$font__size-mdlrg: 1em * (1.5 * $font__size-ratio);
$font__size-lg: 1em * (1.75 * $font__size-ratio);
$font__size-xl: 1em * (2 * $font__size-ratio);
$font__size-xxl: 1em * (2.5 * $font__size-ratio);
$font__size-xxxl: 1em * (5 * $font__size-ratio);

$font__line-height-body: 1.8;
$font__line-height-heading: 1.25;
$font__line-height-pre: 1.6;

$font__weight-body: 400;
$font__weight-heading: 800;

$content_width: 86%;
$content_max-width: 700px;
$content_mobile-width: 90%;

$accent: #218799;
$background: rgba(0,0,0,.04);
$green: #49e2be;
$red: #f00;

$color--error: #e85c41;
$color--success: #2cb994;

$color--has-background-color-fallback: #f5f5f5;

$color--background-body: #fff;
$color--background-screen: #f1f1f1;
$color--background-hr: #ccc;
$color--background-button: #e6e6e6;
$color--background-pre: #f1f1f1;
$color--background-ins: #fff9c0;
$color--background-input-focus: #fff;

$color--background-lightbox: #fff;
$color--background-lightbox-dark: #1c1c21;
$color--background-lightbox-button: $black;
$color--background-lightbox-button-dark: #dfdfe2;

$color--text-screen: #21759b;
$color--text-input: $black;
$color--text-input-focus: $black;
$color--text-input-placeholder: #bbb;
$color--text-footer-a: #bbb;
$color--link: #4169e1;
$color--link-visited: #800080;
$color--link-hover: #333;

$color--border-button: #ccc #ccc #888;
$color--border-button-hover: #ccc #888 #aaa;
$color--border-button-focus: #aaa #888 #888;
$color--border-input: #e6e6e6;
$color--border-input-hover: #d6d6d6;
$color--border-input-focus: #c6c6c6;
$color--border-abbr: #e8e8e8;
$color--border-table: #ccc;
$color--border-footer: rgba(0, 0, 0, 0.075);

$color--outline-button: #959595;

// Content variables
$content__width: 740px;
$content__width--wide: 940px;
$content__padding: 20px;
$content__width--less-padding: $content__width - ($content__padding * 2);
$content__width--wide--less-padding: $content__width--wide - ($content__padding * 2);
$content__media-query: $content__width - 1;
$content__media-query--wide: $content__width--wide - 1;
$content__align--leftright-margin: $content__width / 2 - $content__padding;
$content__align--mobile-media-query--min: 499px;
$content__align--mobile-media-query--max: $content__align--mobile-media-query--min - 1;
$content__align--width: 300px;
$content__spacer: 30px;
$content__spacer--mobile: 20px;

$block__quote--border-width: 4px;
$block__quote--cite-font: $font__figcaption;

// Editor variables
$font__size-editor--small: 17px;
$font__size-editor--medium: 21px;
$font__size-editor--large: 24px;
$font__size-editor--huge: 30px;

@mixin blockMobileDisplay {
	margin-left: $content__padding;
	margin-right: $content__padding;
	max-width: $content__width--less-padding;

	@media screen and (min-width: $content__media-query) {
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin blockWideDisplay {
	margin-left: $content__padding;
	margin-right: $content__padding;
	max-width: $content__width--wide--less-padding;

	@media screen and (min-width: $content__media-query--wide) {
		margin-left: auto;
		margin-right: auto;
	}
}
