.customize-control-themebeans-range:hover label {
  opacity: 0;
}

.customize-control-themebeans-range:hover .themebeans-range__track,
.customize-control-themebeans-range:hover .themebeans-range__reset {
  opacity: 1;
}

.customize-control-themebeans-range .customize-control-title {
  margin-bottom: 0;
}

.customize-control-themebeans-range .themebeans-range__number-input::-webkit-inner-spin-button, .customize-control-themebeans-range .themebeans-range__number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.customize-control-themebeans-range .themebeans-range {
  position: relative;
}

.customize-control-themebeans-range .themebeans-range__label {
  display: block;
  margin-right: 55px;
  -webkit-transition: opacity 150ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: opacity 150ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.customize-control-themebeans-range .themebeans-range__track {
  background: #b4b9be;
  left: 30px;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  right: 0;
  top: 52%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 150ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: opacity 150ms cubic-bezier(0.694, 0.0482, 0.335, 1);
  width: calc(100% - 80px);
}

@media screen and (min-width: 1667px) {
  .customize-control-themebeans-range .themebeans-range__track {
    width: calc(100% - 90px);
  }
}

.customize-control-themebeans-range .themebeans-range__value {
  font-size: 14px;
  position: absolute;
  right: 0;
  text-align: right;
  top: -1px;
}

.customize-control-themebeans-range .themebeans-range__value span {
  display: none;
  margin: 0;
}

.customize-control-themebeans-range .themebeans-range__value em {
  cursor: default;
  display: inline-block;
  font-style: normal;
  margin-left: -2px;
}

.customize-control-themebeans-range .themebeans-range__number-input {
  background: none;
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #555d66;
  display: inline-block;
  font-size: 14px;
  height: 26px !important;
  line-height: 14px !important;
  padding: 2px 0;
  position: relative;
  text-align: right;
  width: 30px !important;
}

.customize-control-themebeans-range .themebeans-range__number-input:hover, .customize-control-themebeans-range .themebeans-range__number-input:focus {
  color: #0073aa;
}

.customize-control-themebeans-range .themebeans-range__reset {
  cursor: pointer;
  height: 24px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 150ms cubic-bezier(0.694, 0.0482, 0.335, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 150ms cubic-bezier(0.694, 0.0482, 0.335, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 150ms cubic-bezier(0.694, 0.0482, 0.335, 1), transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 150ms cubic-bezier(0.694, 0.0482, 0.335, 1), transform 200ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
}

.customize-control-themebeans-range .themebeans-range__reset:after {
  content: "\f531";
  cursor: pointer;
  font: 100 15px/1 dashicons;
  left: 0;
  position: relative;
  top: 0.33em;
  z-index: 999;
}

.customize-control-themebeans-range .themebeans-range__reset:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.customize-control-themebeans-range .themebeans-range__track {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  padding: 0;
}

.customize-control-themebeans-range .themebeans-range__track:focus {
  outline: none;
}

.customize-control-themebeans-range .themebeans-range__track::-webkit-slider-runnable-track {
  background: #b4b9be;
  border-radius: 1px;
  border: 0 solid #b4b9be;
  -webkit-box-shadow: 0 0 0 #b4b9be;
          box-shadow: 0 0 0 #b4b9be;
  cursor: pointer;
  height: 2px;
  width: 100%;
}

.customize-control-themebeans-range .themebeans-range__track:focus::-webkit-slider-runnable-track {
  background: #b4b9be;
}

.customize-control-themebeans-range .themebeans-range__track::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: #fff;
  border-radius: 50px;
  border: 1px solid #b4b9be;
  -webkit-box-shadow: 0 0 0 #b4b9be;
          box-shadow: 0 0 0 #b4b9be;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 19px;
  margin-top: -9px;
  width: 19px;
}

.customize-control-themebeans-range .themebeans-range__track::-moz-range-thumb {
  background: #fff;
  border-radius: 50px;
  border: 1px solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
  cursor: pointer;
  height: 19px;
  width: 19px;
}

.customize-control-themebeans-range .themebeans-range__track::-moz-range-track {
  background: #b4b9be;
  border-radius: 1px;
  border: 0 solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
  cursor: pointer;
  height: 2px;
  width: 100%;
}

.customize-control-themebeans-range .themebeans-range__track::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: 2px;
  width: 100%;
}

.customize-control-themebeans-range .themebeans-range__track::-ms-fill-lower {
  background: #b4b9be;
  border-radius: 2px;
  border: 0 solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
}

.customize-control-themebeans-range .themebeans-range__track::-ms-fill-upper {
  background: #b4b9be;
  border-radius: 2px;
  border: 0 solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
}

.customize-control-themebeans-range .themebeans-range__track::-ms-thumb {
  background: #fff;
  border-radius: 50px;
  border: 1px solid #b4b9be;
  box-shadow: 0 0 0 #b4b9be;
  cursor: pointer;
  height: 17px;
  width: 17px;
}

.customize-control-themebeans-range .themebeans-range__track:focus::-ms-fill-lower {
  background: #b4b9be;
}

.customize-control-themebeans-range .themebeans-range__track:focus::-ms-fill-upper {
  background: #b4b9be;
}

#customize-control-custom_logo_max_width,
#customize-control-custom_logo_mobile_max_width {
  margin-bottom: 12px;
}

#customize-control-custom_logo_max_width .customize-control-title,
#customize-control-custom_logo_mobile_max_width .customize-control-title {
  font-weight: 600;
}

#customize-control-custom_logo_max_width + #customize-control-custom_logo_mobile_max_width {
  margin-top: -5px;
}
