.customize-control-themebeans-toggle .customize-control-description {
  padding-right: 60px;
}

.customize-control-themebeans-toggle .components-form-toggle * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.customize-control-themebeans-toggle .components-base-control__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.customize-control-themebeans-toggle .components-toggle-control
.components-base-control__field
.components-toggle-control__label {
  display: block;
  margin-bottom: 0;
}

.customize-control-themebeans-toggle .components-form-toggle,
.customize-control-themebeans-toggle .components-base-control__field {
  margin-left: auto;
}

.customize-control-themebeans-toggle .components-form-toggle__track {
  background-color: transparent;
  border: 2px solid #6c7781;
  border-radius: 9px;
  content: "";
  display: inline-block;
  height: 18px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  vertical-align: top;
  width: 36px;
}

.customize-control-themebeans-toggle .components-form-toggle.is-checked .components-form-toggle__track {
  background-color: #11a0d2;
  border: 9px solid transparent;
}

.customize-control-themebeans-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #6c7781;
          box-shadow: 0 0 0 2px #fff, 0 0 0 3px #6c7781;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.customize-control-themebeans-toggle .components-form-toggle__thumb {
  background-color: #6c7781;
  border: 5px solid #6c7781;
  border-radius: 50%;
  display: block;
  height: 10px;
  left: 4px;
  position: absolute;
  top: 4px;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
  width: 10px;
}

.customize-control-themebeans-toggle .components-form-toggle.is-checked .components-form-toggle__thumb {
  background-color: #fff;
  border-width: 0;
  -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
          transform: translateX(18px);
}

.customize-control-themebeans-toggle .components-form-toggle__off,
.customize-control-themebeans-toggle .components-form-toggle__on {
  position: absolute;
  top: 6px;
}

.customize-control-themebeans-toggle .components-form-toggle__off {
  color: #6c7781;
  fill: currentColor;
  right: 6px;
}

.customize-control-themebeans-toggle .components-form-toggle__on {
  -webkit-filter: invert(100%) contrast(500%);
          filter: invert(100%) contrast(500%);
  border: 1px solid #000;
  filter: invert(100%) contrast(500%);
  outline: 1px solid transparent;
  outline-offset: -1px;
  left: 8px;
}

.components-form-toggle {
  position: relative;
}

.components-form-toggle:hover .components-form-toggle__track {
  border: 2px solid #555d66;
}

.components-form-toggle:hover .components-form-toggle__thumb {
  background-color: #555d66;
  border: 5px solid #6c7781;
}

.components-form-toggle input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #b4b9be;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  clear: none;
  color: #555;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  left: 0;
  line-height: 0;
  margin: 0;
  min-width: 16px;
  opacity: 0;
  outline: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
  vertical-align: middle;
  width: 100%;
  z-index: 1;
}

.components-form-toggle input[type="checkbox"]::before {
  color: #fff;
  margin: -4px 0 0 -5px;
}

.components-form-toggle input[type="checkbox"]:focus {
  border-color: #6c7781;
  -webkit-box-shadow: 0 0 0 1px #6c7781;
          box-shadow: 0 0 0 1px #6c7781;
}

.components-form-toggle input[type="checkbox"]:checked {
  background: #008EC2;
  border-color: #008EC2;
}

.components-form-toggle input[type="checkbox"]:checked:focus {
  -webkit-box-shadow: 0 0 0 2px #555d66;
          box-shadow: 0 0 0 2px #555d66;
}

.components-form-toggle input[type="checkbox"]:checked::before {
  color: #1e8cbe;
  content: "\f147";
  display: inline-block;
  float: left;
  font-smoothing: antialiased;
  font: 400 21px/1 dashicons;
  margin: -3px 0 0 -4px;
  speak: none;
  vertical-align: middle;
  width: 16px;
}
