// Transitions.
$range--opacity-speed: 150ms;
$range--opacity-cubic: cubic-bezier(0.694, 0.0482, 0.335, 1);

// Colors.
$white: #fff;
$gray: #555d66;
$blue: #0073aa;
$red: #dc3232;
$customizer_blue: #0085ba;
$customizer_blue_bg: rgba(0, 167, 233, 0.075);

$background: #eee;
$border-color: #b4b9be;
