// Variables.
@import "variables";

.customize-control-themebeans-range {

	&:hover {

		label {
			opacity: 0;
		}

		.themebeans-range__track,
		.themebeans-range__reset {
			opacity: 1;
		}
	}

	.customize-control-title {
		margin-bottom: 0;
	}

	.themebeans-range__number-input {

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	.themebeans-range {
		position: relative;

		&__label {
			display: block;
			margin-right: 55px;
			transition: opacity $range--opacity-speed $range--opacity-cubic;
			user-select: none;
		}

		&__track {
			background: $border-color;
			left: 30px;
			opacity: 0;
			padding: 5px 0;
			position: absolute;
			right: 0;
			top: 52%;
			transform: translateY(-50%);
			transition: opacity $range--opacity-speed $range--opacity-cubic;
			width: calc(100% - 80px);

			@media screen and (min-width: 1667px) {
				width: calc(100% - 90px);
			}
		}

		&__value {
			font-size: 14px;
			position: absolute;
			right: 0;
			text-align: right;
			top: -1px;

			span {
				display: none;
				margin: 0;
			}

			em {
				cursor: default;
				display: inline-block;
				font-style: normal;
				margin-left: -2px;
			}
		}

		&__number-input {
			background: none;
			border: none;
			box-shadow: none !important;
			color: $gray;
			display: inline-block;
			font-size: 14px;
			height: 26px !important;
			line-height: 14px !important;
			padding: 2px 0;
			position: relative;
			text-align: right;
			width: 30px !important;

			&:hover,
			&:focus {
				color: $blue;
			}
		}

		&__reset {
			cursor: pointer;
			height: 24px;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transition: opacity $range--opacity-speed $range--opacity-cubic, transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
			width: 20px;

			&:after {
				content: "\f531";
				cursor: pointer;
				font: 100 15px/1 dashicons;
				left: 0;
				position: relative;
				top: 0.33em;
				z-index: 999;
			}

			&:active {
				transform: scale(0.95);
			}
		}

		&__track {
			appearance: none;
			margin: 0;
			padding: 0;

			&:focus {
				outline: none;
			}

			&::-webkit-slider-runnable-track {
				background: $border-color;
				border-radius: 1px;
				border: 0 solid $border-color;
				box-shadow: 0 0 0 $border-color;
				cursor: pointer;
				height: 2px;
				width: 100%;
			}

			&:focus::-webkit-slider-runnable-track {
				background: $border-color;
			}

			&::-webkit-slider-thumb {
				appearance: none;
				background: $white;
				border-radius: 50px;
				border: 1px solid $border-color;
				box-shadow: 0 0 0 $border-color;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
				cursor: pointer;
				height: 19px;
				margin-top: -9px;
				width: 19px;
			}

			&::-moz-range-thumb {
				background: $white;
				border-radius: 50px;
				border: 1px solid $border-color;
				box-shadow: 0 0 0 $border-color;
				cursor: pointer;
				height: 19px;
				width: 19px;
			}

			&::-moz-range-track {
				background: $border-color;
				border-radius: 1px;
				border: 0 solid $border-color;
				box-shadow: 0 0 0 $border-color;
				cursor: pointer;
				height: 2px;
				width: 100%;
			}

			&::-ms-track {
				background: transparent;
				border-color: transparent;
				color: transparent;
				cursor: pointer;
				height: 2px;
				width: 100%;
			}

			&::-ms-fill-lower {
				background: $border-color;
				border-radius: 2px;
				border: 0 solid $border-color;
				box-shadow: 0 0 0 $border-color;
			}

			&::-ms-fill-upper {
				background: $border-color;
				border-radius: 2px;
				border: 0 solid $border-color;
				box-shadow: 0 0 0 $border-color;
			}

			&::-ms-thumb {
				background: $white;
				border-radius: 50px;
				border: 1px solid $border-color;
				box-shadow: 0 0 0 $border-color;
				cursor: pointer;
				height: 17px;
				width: 17px;
			}

			&:focus::-ms-fill-lower {
				background: $border-color;
			}

			&:focus::-ms-fill-upper {
				background: $border-color;
			}
		}
	}
}

#customize-control-custom_logo_max_width,
#customize-control-custom_logo_mobile_max_width {
	margin-bottom: 12px;

	.customize-control-title {
		font-weight: 600;
	}
}

#customize-control-custom_logo_max_width + #customize-control-custom_logo_mobile_max_width {
	margin-top: -5px;
}
