a {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:active {
		outline: 0;
	}
}

.pingback a:not(.comment-edit-link),
.entry-content a:not(.bean-btn) {
	box-shadow: inset 0 -1px 0 currentColor;
	text-decoration: none;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:focus {
		box-shadow: inset 0 0 0 currentcolor, 0 3px 0 currentcolor;
	}
}
