/*--------------------------------------------------------------
# CMB2 Styles
--------------------------------------------------------------*/
.cmb2-metabox .cmb2-metabox-description {
  font-style: 13px;
  color: #666;
}

#cmb2-metabox-portfolio_type .cmb-type-checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cmb2-metabox-portfolio_type .cmb-type-checkbox .cmb-th {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#cmb2-metabox-portfolio_type .cmb-type-checkbox .cmb-td {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cmb2-id--bean-portfolio-type-video .cmb-th label::before,
.cmb2-id--bean-portfolio-type-gallery .cmb-th label::before {
  color: #DDD;
  content: '\f161';
  display: inline-block;
  font: 400 20px/1 dashicons;
  margin-right: 7px;
  position: relative;
  speak: none;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  vertical-align: middle;
}

.cmb2-id--bean-portfolio-type-video .cmb-th label::before {
  content: '\f126';
}

/*--------------------------------------------------------------
# Editor styles for the main metabox area (Gutenberg)
--------------------------------------------------------------*/
.edit-post-layout__metaboxes:not(:empty) {
  padding: 0;
}

.edit-post-layout__metaboxes:not(:empty) .edit-post-meta-boxes-area {
  margin: auto 0;
}

.edit-post-layout__metaboxes .edit-post-meta-boxes-area #poststuff h2.hndle {
  color: #191e23;
}

.edit-post-layout__metaboxes .form-table.meta_box th label {
  color: #555d66;
  font-size: 13px;
  font-weight: 400;
}

.edit-post-layout__metaboxes .form-table.meta_box .description {
  color: #555d66;
  font-size: 13px;
}

/*--------------------------------------------------------------
# Editor sidebar styles for CMB2 (Gutenberg)
--------------------------------------------------------------*/
.edit-post-sidebar .edit-post-meta-boxes-area .postbox:last-of-type > .inside {
  border-bottom: none;
}

.edit-post-sidebar .edit-post-meta-boxes-area .postbox:last-of-type h2.hndle {
  border-bottom: none !important;
}

.edit-post-sidebar .edit-post-meta-boxes-area .postbox:not(.closed) h2.hndle {
  border-bottom: none !important;
}

.edit-post-sidebar .edit-post-meta-boxes-area #poststuff .inside {
  margin: 3px 0 0 0;
}

.edit-post-sidebar .edit-post-meta-boxes-area #poststuff .postbox h2.hndle {
  color: #191e23;
  cursor: pointer;
  font-size: 13px;
  padding-bottom: 14px;
  padding-top: 14px;
  -webkit-transition: .1s background ease-in-out;
  transition: .1s background ease-in-out;
}

.edit-post-sidebar .edit-post-meta-boxes-area #poststuff .postbox h2.hndle:hover {
  background: #f8f9f9;
}

.edit-post-sidebar .edit-post-meta-boxes-area .postbox .handlediv {
  height: .65em;
  width: .65em;
  border-bottom: 2px solid #191e23;
  border-left: 2px solid #191e23;
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
  z-index: 1;
  right: 18px;
  top: 19px;
  position: absolute;
}

.edit-post-sidebar .edit-post-meta-boxes-area .postbox.closed .handlediv {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 18px;
}

.edit-post-sidebar .edit-post-meta-boxes-area .cmb2-media-status .embed-status {
  float: none;
}

.edit-post-sidebar .edit-post-meta-boxes-area .cmb2-media-status .cmb2-remove-file-button {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
  background: #0885BA;
}

.edit-post-sidebar .edit-post-meta-boxes-area .cmb2-media-status .cmb2-remove-file-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.edit-post-sidebar .edit-post-meta-boxes-area .cmb2-media-status .cmb2-remove-file-button::after, .edit-post-sidebar .edit-post-meta-boxes-area .cmb2-media-status .cmb2-remove-file-button::before {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  left: 4px;
  position: absolute;
  width: 15px;
}

.edit-post-sidebar .edit-post-meta-boxes-area .cmb2-media-status .cmb2-remove-file-button::before {
  top: 11px;
  left: 3px;
  -webkit-transform: rotate(45deg) translate(0, -50%);
      -ms-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}

.edit-post-sidebar .edit-post-meta-boxes-area .cmb2-media-status .cmb2-remove-file-button::after {
  top: 11px;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}

.edit-post-sidebar .edit-post-meta-boxes-area .cmb2-media-status .embed-status {
  outline-color: #e5e5e5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.edit-post-sidebar .edit-post-meta-boxes-area .cmb-spinner {
  float: none;
  margin: 12px auto -3px;
}

.edit-post-sidebar .edit-post-meta-boxes-area .toggle-indicator {
  display: none;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb2-wrap > .cmb-field-list > .cmb-row {
  padding: 0;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb2-metabox-description {
  color: #555d66;
  padding-bottom: 0;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-th {
  padding-bottom: 0;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-td {
  width: auto !important;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-row {
  border: none;
  margin: 0 0 1.1em;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-row:after {
  display: none;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-row:last-of-type {
  margin-bottom: 2px;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-th label {
  font-size: 13px;
  font-weight: 400;
  margin-right: 10px;
  margin-bottom: 0;
  padding-bottom: 5px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  max-width: 75%;
  vertical-align: middle;
  color: #555d66;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb2-wrap input:focus, .edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb2-wrap textarea:focus {
  background: #fff;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables input[type=checkbox] {
  margin: 0 12px 0 0;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-type-checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-type-checkbox .cmb-th {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-type-checkbox .cmb-th label {
  padding-bottom: 0;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .cmb-type-checkbox .cmb-td {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .wp-picker-input-wrap label {
  display: inline-block;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .wp-picker-holder .iris-border {
  border-radius: 3px !important;
  width: 250px !important;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .wp-picker-holder .iris-picker .iris-square {
  margin-right: 6%;
}

.edit-post-sidebar .edit-post-meta-boxes-area #side-sortables .wp-color-picker {
  padding: 3px 5px;
}
