.entry-content {
	.wp-block-embed {
		.jetpack-video-wrapper,
		.fluid-width-video-wrapper {
			margin: 0;
		}

		&-twitter {
			.twitter-tweet {
				margin-bottom: 0 !important;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
