.has-small-font-size {
	font-size: $font__size-editor--small;
}

.has-medium-font-size {
	font-size: $font__size-editor--medium;
}

.has-large-font-size {
	font-size: $font__size-editor--large;
}

.has-huge-font-size {
	font-size: $font__size-editor--huge;
}
