.entry-content {
	.wp-block-preformatted {
		background: none;
		font-size: $font__size-xs;
		line-height: 1.8;
		margin-bottom: $content__spacer--mobile + 4px;
		margin-top: $content__spacer--mobile + 5px;
		white-space: pre-wrap;

		@media screen and (min-width: $content__media-query) {
			margin-bottom: $content__spacer + 5px;
			margin-top: $content__spacer + 6px;
		}
	}
}
