.typed-cursor {
	opacity: 1;
	width: 1px;
	display: inline-block;
	height: 40px;
	position: relative;
	top: 2px;
	margin-left: 5px;
	background: $black;
	text-indent: -9999em;
	animation: blink 1s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
