.wpcf7-form {

	.wpcf7-not-valid-tip {
		@include font-size(15px);
		margin-bottom: .9em;
		margin-top: -1.3em;
	}

	.wpcf7-response-output {
		@include font-size(14px);
		background: $background;
		border-radius: 4px;
		border: none;
		font-family: $font__heading;
		font-style: inherit;
		text-align: center;
		padding-top: .4em;
		padding-bottom: .4em;
		margin-left: auto;
		margin-right: auto;
	}
}
