body:not(.single) .post-password-required {

	.entry-header {
		margin-bottom: 0.35em;
	}

	.entry-content {
		display: none;
	}
}

.is-protected {

	&__inner {

		@media only screen and (min-height: 700px) {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
			width: 100vw;
			height: 100vh;
			position: absolute;
			top: 0;
			z-index: -1;
		}
	}

	&__inner-wrapper {
		margin: 0 auto !important;
		padding: 0;
		text-align: center;
	}

	.page-header {
		max-width: 300px;
		margin: 0 auto 1.25em;

		@media only screen and (min-width: 600px) {
			max-width: 360px;
		}

		.icon {
			height: 100px;
			width: 100px;
		}
	}

	.page-content {
		max-width: 370px;
		padding-bottom: 100px;

		@media only screen and (min-height: 700px) {
			padding-bottom: 0;
		}

		input[type="password"] {
			max-width: 260px;
			margin-bottom: 0;
			margin-right: 5px;
		}
	}
}
